

@mixin span($cols, $of:24) {
  width: 100 / $of * $cols * 1%;
}

@mixin cols($cols, $of:24) {
  width: 100 / $of * $cols * 1%;
  float: left;
}

@mixin margin-left($cols, $of:24) {
  margin-left: 100 / $of * $cols * 1%;
}

@mixin margin-right($cols, $of:24) {
  margin-right: 100 / $of * $cols * 1%;
}


@function colsize($cols, $of:24) {
  @return 100 / $of * $cols * 1%;
}



@mixin min-64 {
  @media only screen and (min-width: 64rem) {
    @content;
  }
}



$bodymargin: 6px;
$rosa: #fff;

// All Stylesheets

@import 'reset';
@import 'layout';
@import 'type';
@import 'drag-elements';


